h3 {
  text-align: center;
  color: rgb(233, 37, 37);
}

#burger {
  width: 25%;
}

body {
    background-color: rgb(203, 201, 42);
    height: 100%;
}

.uneaten {
  background-color: rgba(103, 242, 234, 0.77);
  width: 50%;
  padding: 5px;
}

.eaten {
  background-color: rgba(124, 72, 219, 0.76);
  width: 50%;
  padding: 5px;
}
